[user]
	email = inndie@gmail.com
	name = Sergey Kovalevich

[push]
    default = matching

[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    suball = submodule update --recursive --init
