@define-color window_bg_color {{ palette.base00 }};
@define-color window_fg_color {{ palette.base05 }};

@define-color selected_bg_color {{ palette.base02 }};
@define-color selected_fg_color {{ palette.base05 }};
