/*
 * wallpaper: {{ wallpaper }}
 * palette: {{ palette }}
 * colorspace: {{ colorspace }}
 */

* {
    shadow: rgba({{ background | darken(0.5) | rgb }}, 0.8);
    background: rgba({{ background | rgb }}, 1);
    foreground: rgba({{ foreground | rgb }}, 1);
    selected-background: rgba({{ background | lighten(0.2) | rgb }}, 1);
    selected-foreground: rgba({{ cursor | rgb }}, 1);
}
