layout {
    focus-ring {
        active-color "{{ foreground }}99"
        urgent-color "{{ foreground | darken(0.5) }}"
    }
}

recent-windows {
    highlight {
        active-color "{{ color3 }}99"
        urgent-color "{{ color5 }}99"
    }
}
