* {
    base: {{ background }};
    highlight-medium: {{ background | lighten(0.1) }};
    highlight-high: {{ background | lighten(0.2) }};
    text: {{ foreground }};
    muted: {{ foreground | darken(0.4) }};
    warning: {{ color1 | saturate(0.5) }};
}
