@define-color background {{ background }};
@define-color foreground {{ foreground }};
@define-color cursor {{ cursor }};

@define-color accent1 {{ color9 | blend("#ef233c") | lighten(0.4) }};
@define-color accent2 {{ color10 }};
@define-color accent3 {{ color11 }};
@define-color accent4 {{ color12 }};
@define-color accent5 {{ color13 }};

@define-color fruits {{ foreground | blend("#8338ec") }};
@define-color pacman {{ foreground | blend("#ffd60a") }};
@define-color ghost {{ foreground | blend("#eeeeee") }};
