* {
  all: unset;
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.module {
  padding: 0.1rem 0.5rem;
  transition: all 0.3s ease-in-out;
}

.modules-left:first-child {
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 2px;
  background: alpha(@background, 0.8);
  color: @foreground;
  border-radius: 8px;
  border: 1px solid alpha(@foreground, .5);
}

.modules-right:last-child {
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 2px;
  background: alpha(@background, 0.8);
  color: @foreground;
  border-radius: 8px;
  border: 1px solid alpha(@foreground, .5);
}

tooltip {
  background: alpha(@background, 0.6);
  border-radius: 4px;
  border: 1px solid @foreground;
}

tooltip label {
  color: @foreground;
  padding: 0.2rem 0.5rem;
}

window#waybar.battery-critical {
  background: #993333;
}

#custom-separator {
  color: alpha(@foreground, 0.4);
  padding: 0 0.1rem;
}

#workspaces {
}

#workspaces button {
  padding: 0.05rem;
  margin: 0.2rem 0.2rem;
  transition: all 0.3s ease-in-out;
  color: alpha(@foreground, 0.6);
}

#workspace button:first-child {
  margin: 0.2rem 0.3rem 0.2rem 0px;
}

#workspace button:last-child {
  margin: 0.2rem 0px 0.2rem 0.3rem;
}

#workspaces button.empty {
}

#workspaces button.visible {
}

#workspaces button.active {
  color: @cursor;
}

#workspaces button:hover {
  color: lighter(@cursor);
}

window#waybar.empty #window {
  background: transparent;
}

#clock {
  font-size: 10px;
  color: @foreground;
}

#backlight,
#wireplumber,
#bluetooth,
#network,
#custom-vpn,
#battery,
#custom-powermenu {
  color: @foreground;
}

#battery.warning {
  color: @accent1;
}
#battery.charging,
#battery.plugged {
}
#battery.critical {
  color: @accent1;
}
