@define-color base #292D3E;
@define-color surface #212432;
@define-color text #BFC7D5;
@define-color muted #60646B;

@define-color warning #F4959A;
@define-color critical #F07178;
@define-color charging #C3E88D;

/* Black */
@define-color color0 #292D3E;
/* Red */
@define-color color1 #F07178;
/* Green */
@define-color color2 #C3E88D;
/* Yellow */
@define-color color3 #FFCB6B;
/* Blue */
@define-color color4 #82AAFF;
/* Magenta */
@define-color color5 #C792EA;
/* Cyan */
@define-color color6 #60ADEC;
/* White */
@define-color color7 #ABB2BF;
/* Black */
@define-color color8 #959DCB;
/* Light Red */
@define-color color9 #F07178;
/* Light Green */
@define-color color10 #C3E88D;
/* Light Yellow */
@define-color color11 #FF5572;
/* Light Blue */
@define-color color12 #82AAFF;
/* Light Magenta */
@define-color color13 #FFCB6B;
/* Light Cyan */
@define-color color14 #676E95;
/* Light Black */
@define-color color15 #FFFEFE;
