@define-color background rgba(24, 18, 11, 1.0);
@define-color foreground #ede0d4;
@define-color cursor #f5bc6f;
@define-color urgent #ffb4ab;

@define-color pacman #f5bc6f;
@define-color fruits #b9cda0;
@define-color ghost #dec2a1;
