@define-color background #120D08;
@define-color foreground #FFFAF7;
@define-color cursor #C59B69;
@define-color urgent #FF7B6E;

@define-color foreground-hover #C49B6C;

@define-color pacman #C49B6C;
@define-color fruits #FFF8F6;
@define-color ghost #EAC08C;
