@define-color background rgba(18, 19, 24, 1.0);
@define-color foreground #e3e2e9;
@define-color cursor #b4c5ff;
@define-color urgent #ffb4ab;

@define-color pacman #b4c5ff;
@define-color fruits #e2bbdb;
@define-color ghost #c1c5dd;
