@define-color background #0C0E11;
@define-color foreground #FAFAFF;
@define-color cursor #8CA5C6;
@define-color urgent #FF7B6E;

@define-color pacman #61A7F2;
@define-color fruits #E6DEFF;
@define-color ghost #A1C9FF;
