@define-color background #0C0F0A;
@define-color foreground #F6FDEE;
@define-color cursor #8DAB82;
@define-color urgent #FF7B6E;

@define-color pacman #8DAB82;
@define-color fruits #FFFCC0;
@define-color ghost #BACCB1;
