@define-color background #130D09;
@define-color foreground #FFFAF8;
@define-color cursor #CA996E;
@define-color urgent #FF7B6E;

@define-color pacman #CA996E;
@define-color fruits #FFFCC0;
@define-color ghost #E2C0A5;
