@define-color background #373938;
@define-color foreground #B8B9B9;
@define-color cursor #B8B9B9;

@define-color accent1 #C2868D;
@define-color accent2 #4A4C4B;
@define-color accent3 #4B4C4B;
@define-color accent4 #7F8180;
@define-color accent5 #828383;
@define-color accent6 #939494;
