@define-color background #2d353b;
@define-color foreground #d3c6aa;
@define-color cursor #e69875;
@define-color urgent #e67e80;

@define-color pacman #dbbc7f;
@define-color fruits #d699b6;
@define-color ghost #fdf6e3;
