@define-color background #120D0F;
@define-color foreground #FFF9F9;
@define-color cursor #C894AD;
@define-color urgent #FF7B6E;

@define-color foreground-hover #C695AC;

@define-color accent0 #FF869E;
@define-color accent1 #E29F00;
@define-color accent2 #FF8B6B;
@define-color accent3 #B19DFF;
@define-color accent4 #FF7AE3;
@define-color accent5 #DA8CFF;
@define-color accent6 #FFFFFF;
