@define-color background #131318;
@define-color foreground #e5e1e9;
@define-color cursor #c2c1ff;

@define-color accent1 #ffb2b9;
@define-color accent2 #95d5a7;
@define-color accent3 #b8cf84;
@define-color accent4 #c0c1ff;
@define-color accent5 #e4b7f3;
@define-color accent6 #82d3e2;
@define-color accent7 #ffb3ad;

@define-color fruits #e4b7f3;
@define-color pacman #b8cf84;
@define-color ghost #82d3e0;
