@define-color background rgba(17, 20, 15, 1.0);
@define-color foreground #e1e4da;
@define-color cursor #a4d397;
@define-color urgent #ffb4ab;

@define-color pacman #a4d397;
@define-color fruits #a0cfd2;
@define-color ghost #bbccb2;
