@define-color background #110D10;
@define-color foreground #FFF9FA;
@define-color cursor #C395B3;
@define-color urgent #FF7B6E;

@define-color pacman #DF84C6;
@define-color fruits #F1DFFF;
@define-color ghost #FFACE7;
