@define-color background rgba(17, 20, 14, 1.0);
@define-color foreground #e2e3d9;
@define-color cursor #add28e;
@define-color urgent #ffb4ab;

@define-color pacman #add28e;
@define-color fruits #a0cfce;
@define-color ghost #becbae;
