@define-color background #25272C;
@define-color foreground #F8C5C7;
@define-color cursor #BD838B;

@define-color accent1 #CA828E;
@define-color accent2 #81404F;
@define-color accent3 #A44955;
@define-color accent4 #C7515A;
@define-color accent5 #EB5A5F;
@define-color accent6 #EB5A5F;
