@define-color base #2E3440;
@define-color surface #252A33;
@define-color text #D8DEE9;
@define-color muted #6C6F75;

@define-color warning #CF898F;
@define-color critical #BF616A;
@define-color charging #A3BE8C;

/* Black */
@define-color color0 #3B4252;
/* Red */
@define-color color1 #BF616A;
/* Green */
@define-color color2 #A3BE8C;
/* Yellow */
@define-color color3 #EBCB8B;
/* Blue */
@define-color color4 #81A1C1;
/* Magenta */
@define-color color5 #B48EAD;
/* Cyan */
@define-color color6 #88C0D0;
/* White */
@define-color color7 #E5E9F0;
/* Black */
@define-color color8 #4C566A;
/* Light Red */
@define-color color9 #BF616A;
/* Light Green */
@define-color color10 #A3BE8C;
/* Light Yellow */
@define-color color11 #EBCB8B;
/* Light Blue */
@define-color color12 #81A1C1;
/* Light Magenta */
@define-color color13 #B48EAD;
/* Light Cyan */
@define-color color14 #8FBCBB;
/* Light Black */
@define-color color15 #ECEFF4;
