@define-color background #282828;
@define-color foreground #D7D7D4;
@define-color cursor #80807E;

@define-color accent1 #BA7D84;
@define-color accent2 #282828;
@define-color accent3 #2D2C2C;
@define-color accent4 #67625F;
@define-color accent5 #75706C;
@define-color accent6 #8E8E84;
