@define-color background #0B0F0C;
@define-color foreground #F4FDF2;
@define-color cursor #86AC8A;
@define-color urgent #FF7B6E;

@define-color foreground-hover #88AC8B;

@define-color pacman #88AC8B;
@define-color fruits #F5FFC5;
@define-color ghost #ABD0AD;
