@define-color background #0C0E11;
@define-color foreground #FAFAFF;
@define-color cursor #8CA5C6;
@define-color urgent #FF7B6E;

@define-color foreground-hover #8DA5C5;

@define-color pacman #8CA5C6;
@define-color fruits #E6DEFF;
@define-color ghost #BBC7DB;
