@define-color background #121010;
@define-color foreground #F7E5DB;
@define-color cursor #9AB1B4;

@define-color accent1 #D89194;
@define-color accent2 #3D7C8D;
@define-color accent3 #E24754;
@define-color accent4 #5FBCC4;
@define-color accent5 #DBAB90;
@define-color accent6 #E8B598;
