@define-color background #120D0F;
@define-color foreground #FFF9F9;
@define-color cursor #C994AA;
@define-color urgent #FF7B6E;

@define-color foreground-hover #C895AA;

@define-color pacman #C895AA;
@define-color fruits #FCE3FF;
@define-color ghost #EEB7CD;
