@define-color background #0C0F0A;
@define-color foreground #F6FDEE;
@define-color cursor #8EAB82;
@define-color urgent #FF7B6E;

@define-color foreground-hover #8FAB83;

@define-color pacman #8EAB82;
@define-color fruits #FFFBD8;
@define-color ghost #BBCBB2;
