@define-color background #110D11;
@define-color foreground #FFF9FA;
@define-color cursor #BD97BA;
@define-color urgent #FF7B6E;

@define-color foreground-hover #BC97B9;

@define-color pacman #BD97BA;
@define-color fruits #C139C8;
@define-color ghost #FDECF9;

@define-color matrix #8EB855;
