@define-color base #282A36;
@define-color surface #20222B;
@define-color text #F8F8F2;
@define-color muted #7C7C79;

@define-color warning #EC7575;
@define-color critical #FF5555;
@define-color charging #50FA7B;

/* Black */
@define-color color0 #262626;
/* Red */
@define-color color1 #E64747;
/* Green */
@define-color color2 #42E66C;
/* Yellow */
@define-color color3 #E4F34A;
/* Blue */
@define-color color4 #9B6BDF;
/* Magenta */
@define-color color5 #E356A7;
/* Cyan */
@define-color color6 #75D7EC;
/* White */
@define-color color7 #F8F8F2;
/* Black */
@define-color color8 #7A7A7A;
/* Light Red */
@define-color color9 #FF5555;
/* Light Green */
@define-color color10 #50FA7B;
/* Light Yellow */
@define-color color11 #F1FA8C;
/* Light Blue */
@define-color color12 #BD93F9;
/* Light Magenta */
@define-color color13 #FF79C6;
/* Light Cyan */
@define-color color14 #8BE9FD;
/* Light Black */
@define-color color15 #F9F9FB;
