@define-color background rgba(15, 21, 18, 1.0);
@define-color foreground #dee4df;
@define-color cursor #8ad6b7;
@define-color urgent #ffb4ab;

@define-color pacman #8ad6b7;
@define-color fruits #a7cce0;
@define-color ghost #b3ccbf;
