@define-color background rgba(18, 19, 24, 1.0);
@define-color foreground #e2e2e9;
@define-color cursor #b1c5ff;
@define-color urgent #ffb4ab;

@define-color pacman #b1c5ff;
@define-color fruits #e0bbdd;
@define-color ghost #c0c6dc;
