@define-color background rgba(19, 20, 13, 1.0);
@define-color foreground #e3e3d7;
@define-color cursor #bbcf81;
@define-color urgent #ffb4ab;

@define-color pacman #bbcf81;
@define-color fruits #a1d0c6;
@define-color ghost #c3caa9;
