@define-color background #0D0E12;
@define-color foreground #FCFAFF;
@define-color cursor #96A2C9;
@define-color urgent #FF7B6E;

@define-color pacman #96A2C9;
@define-color fruits #F2DEFF;
@define-color ghost #C1C5DD;
