@define-color background #131517;
@define-color foreground #E1C4C8;
@define-color cursor #91767E;

@define-color accent1 #C17D88;
@define-color accent2 #402933;
@define-color accent3 #5E5A61;
@define-color accent4 #5E5A61;
@define-color accent5 #5E5A61;

@define-color fruits #B27EDA;
@define-color pacman #F0CD69;
@define-color ghost #E8D9DB;
