@import "theme.css";

@define-color base transparent;
@define-color surface @base01;

@define-color shadow @base03;

@define-color text @base05;
@define-color text-hover @base0B;
@define-color text-muted @base03;
@define-color text-active @base0A;
@define-color text-warning @base09;
@define-color text-critical @base08;
@define-color text-accent @base0A;


* {
    all: unset;
    padding: 0;
    margin: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bolder;
    font-size: 12px;
}

#window {}

window#waybar {
    background: @base;
    color: @text;
    text-shadow: 1px 0px 0px @shadow, -1px 0px 0px @shadow, 0px 1px 0px @shadow, 0px -1px 0px @shadow;

    transition: all 0.3s ease-in-out;
}

.module {
    padding: 0.2rem 0.5rem;
    transition: all 0.3s ease-in-out;
}

.modules-left:first-child {
    margin-left: 8px;
}

.modules-right:last-child {
    margin-right: 8px;
}

tooltip {
    background: alpha(@surface, 0.9);
    color: @text;
    border-radius: 6px;
}

tooltip label {
  margin: 0.5rem;
}

#workspaces {}

#workspaces button {
    padding: 0.05rem;
    margin: 0.2rem 0.2rem;
    transition: all 0.3s ease-in-out;
    color: @text;
}

#workspace button:first-child {
    margin: 0.2rem 0.3rem 0.2rem 0px;
}

#workspace button:last-child {
    margin: 0.2rem 0px 0.2rem 0.3rem;
}

#workspaces button.empty {
    color: alpha(@text, 0.4);
}

#workspaces button.visible {
    color: alpha(@text, 0.4);
}

#workspaces button.active {
    color: @text-active;
}

window#waybar.empty #window {
    background: transparent;
}

#clock,
#custom-vpn,
#custom-cliphist,
#custom-cava,
#custom-tesseract,
#wireplumber,
#network,
#bluetooth,
#backlight,
#temperature,
#battery {
}

#clock:hover,
#custom-vpn:hover,
#custom-cliphist:hover,
#custom-cava:hover,
#custom-tesseract:hover,
#wireplumber:hover,
#network:hover,
#bluetooth:hover,
#backlight:hover,
#battery:hover {
    color: @text-hover;
}

#custom-vpn.up {
    color: @text-accent;
}
#custom-vpn.up:hover {
    color: @text-hover;
}

#battery.warning {
    color: @text-warning;
}
#battery.critical {
    color: @text-critical;
    background: shade(@text-critical, 0.4);
}

#temperature.critical {
    color: @danger;
    background: shade(@base08, 0.4);
}
