@import "colors-walng.css";

* {
  all: unset;
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 16px;
}

window#waybar {
  background: alpha(@base00, 0.8);
  transition: all 0.3s ease-in-out;
}

.module {
  color: @base05;
  padding: 0.1rem 0.5rem;
  transition: all 0.3s ease-in-out;
}

.module:hover {
  color: @base06;
  transition: all 0.3s ease-in-out;
}

.modules-left:first-child {
  margin-left: 0.2em;
}

.modules-right:last-child {
  margin-right: 0.2em;
}

tooltip {
  background: alpha(@base00, 0.8);
  border-radius: 4px;
}

tooltip label {
  color: @base05;
  padding: 0.2rem 0.5rem;
}

window#waybar.battery-critical {
  background: @base08;
}

#custom-separator {
  color: @base03;
  padding: 0 0.1rem;
}

#workspaces {
}

#workspaces button {
  padding: 0.05rem;
  margin: 0.2rem 0.2rem;
  transition: all 0.3s ease-in-out;
  color: alpha(@base05, 0.5);
}

#workspace button:first-child {
  margin: 0.2rem 0.3rem 0.2rem 0px;
}

#workspace button:last-child {
  margin: 0.2rem 0px 0.2rem 0.3rem;
}

#workspaces button.empty {
}

#workspaces button.visible {
}

#workspaces button.active {
  color: @base06;
}

#workspaces button:hover {
  color: @base06;
}

window#waybar.empty #window {
  background: transparent;
}

#clock {
}

#backlight {
}

#wireplumber {
}

#bluetooth {
}

#network {
}

#custom-vpn.up {
  color: @base0A;
}

#battery {
}

#battery.warning {
  color: @base08;
}

#battery.charging,
#battery.plugged {
  color: @base0B;
}

@keyframes blink {
  to {
    color: @base08;
    background: alpha(@background, 0.5);
  }
}

#battery.critical:not(.charging) {
  color: @base05;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
}

#power-profiles-daemon.performance {
  color: @base0D;
}

#power-profiles-daemon.power-saver {
}

#power-profiles-daemon.balanced {
}

#custom-powermenu {
}
