@import "colors.css";

* {
  all: unset;
  padding: 0;
  margin: 0;
  font-family: "Caskaydia Cove Nerd Font", "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 12px;
}

#window {}

window#waybar {
  /* background: alpha(@base, 0.8); */
  background: none;
  color: @text;
  transition: all 0.3s ease-in-out;
}

.module {
  padding: 0.1rem 0.5rem;
  transition: all 0.3s ease-in-out;
}

.modules-left:first-child {
  margin-left: 0.2em;
}

.modules-right:last-child {
  margin-right: 0.2em;
}

tooltip {
  background: @base;
  border: 1px solid @text;
}

tooltip label {
  color: @text;
  padding: 0.2rem 0.5rem;
}

#workspaces {}

#workspaces button {
  padding: 0.05rem;
  margin: 0.2rem 0.2rem;
  transition: all 0.3s ease-in-out;
  color: alpha(@text, 0.2);
}

#workspace button:first-child {
  margin: 0.2rem 0.3rem 0.2rem 0px;
}

#workspace button:last-child {
  margin: 0.2rem 0px 0.2rem 0.3rem;
}

#workspaces button.empty {
  color: alpha(@text, 0.2);
}

#workspaces button.visible {
  color: alpha(@text, 0.2);
}

#workspaces button.active {
  color: alpha(@text, 0.6);
}

window#waybar.empty #window {
  background: transparent;
}

#clock,
#custom-vpn,
#custom-cliphist,
#custom-youtube,
#custom-cava,
#wireplumber,
#network,
#bluetooth,
#backlight,
#temperature,
#battery {
  border-radius: 4px;
  margin: 4px 1px;
  color: @text;
  background: @surface;
}

#clock:hover,
#custom-vpn:hover,
#custom-cliphist:hover,
#custom-youtube:hover,
#custom-cava:hover,
#wireplumber:hover,
#network:hover,
#bluetooth:hover,
#backlight:hover,
#battery:hover {
  background: alpha(@text, 0.2);
}

#custom-vpn.up {
  color: @surface;
  background: alpha(@text, 0.8);
}

#battery {
  color: @text;
}
#battery.warning {
  color: @warning;
}
#battery.critical {
  color: @critical;
  background: shade(@critical, 0.4);
}

#temperature.critical {
  color: @warning;
  background: shade(@warning, 0.4);
}

#custom-youtube {
  color: shade(@muted, 1.2);
}
#custom-youtube.ready {
  color: @text;
}
