@import "colors.css";

* {
  all: unset;
  padding: 0;
  margin: 0;
  font-family: "Caskaydia Cove Nerd Font", "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 12px;
}

#window {
  background: @background;
}

window#waybar {
  background: @background;
  color: @foreground;
  transition: all 0.3s ease-in-out;
}

.module {
  padding: 0.1rem 0.5rem;
  transition: all 0.3s ease-in-out;
}

.modules-left:first-child {
  margin-left: 0.2em;
}

.modules-right:last-child {
  margin-right: 0.2em;
}

tooltip {
  background: @background;
  border-radius: 4px;
  border: 1px solid darker(@foreground);
}

tooltip label {
  color: @foreground;
  padding: 0.2rem 0.5rem;
}

window#waybar.battery-critical {
  background: #993333;
}

#workspaces {
}

#workspaces button {
  padding: 0.05rem;
  margin: 0.2rem 0.2rem;
  transition: all 0.3s ease-in-out;
  color: @ghost;
}

#workspace button:first-child {
  margin: 0.2rem 0.3rem 0.2rem 0px;
}

#workspace button:last-child {
  margin: 0.2rem 0px 0.2rem 0.3rem;
}

#workspaces button.empty {
  color: @fruits;
}

#workspaces button.visible {
  color: @fruits;
}

#workspaces button.active {
  color: @pacman;
}

#workspaces button:hover {
  color: @foreground-hover;
}

window#waybar.empty #window {
  background: transparent;
}

#clock,
#custom-vpn,
#custom-powermenu,
#custom-battery-extra,
#custom-cliphist,
#custom-cava,
#wireplumber,
#network,
#bluetooth,
#backlight,
#temperature,
#battery {
  border-radius: 4px;
  margin: 4px 0px;
  color: @foreground;
}

#clock:hover,
#custom-vpn:hover,
#custom-powermenu:hover,
#custom-battery-extra:hover,
#custom-cliphist:hover,
#custom-cava:hover,
#wireplumber:hover,
#network:hover,
#bluetooth:hover,
#backlight:hover,
#temperature:hover,
#battery:hover {
  color: @foreground-hover;
}

#custom-vpn.up {
  color: @fruits;
  background: alpha(@fruits, 0.25);
}

#custom-vpn.up:hover {
  color: @foreground-hover;
  background: alpha(@foreground-hover, 0.25);
}

#battery.warning,
#battery.critical {
  color: @urgent;
}

#custom-niri-windows-count {
  color: alpha(@pacman, 0.5);
}

#custom-separator {
  color: alpha(@foreground, 0.5);
  padding: 0 0.1rem;
}

#temperature.critical {
  color: @urgent;
}
