@import "colors.css";

@define-color accent0-hover shade(@accent0, 1.2);
@define-color accent1-hover shade(@accent1, 1.2);
@define-color accent2-hover shade(@accent2, 1.2);
@define-color accent3-hover shade(@accent3, 1.2);
@define-color accent4-hover shade(@accent4, 1.2);
@define-color accent5-hover shade(@accent5, 1.2);
@define-color accent6-hover shade(@accent6, 1.2);

@define-color accent0-active-bg shade(@accent0, 0.4);
@define-color accent1-active-bg shade(@accent1, 0.4);
@define-color accent2-active-bg shade(@accent2, 0.4);
@define-color accent3-active-bg shade(@accent3, 0.4);
@define-color accent4-active-bg shade(@accent4, 0.4);
@define-color accent5-active-bg shade(@accent5, 0.4);
@define-color accent6-active-bg shade(@accent6, 0.4);

* {
  all: unset;
  padding: 0;
  margin: 0;
  font-family: "Caskaydia Cove Nerd Font", "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 12px;
}

#window {
  background: @background;
}

window#waybar {
  background: @background;
  color: @foreground;
  transition: all 0.3s ease-in-out;
}

.module {
  padding: 0.1rem 0.5rem;
  transition: all 0.3s ease-in-out;
}

.modules-left:first-child {
  margin-left: 0.2em;
}

.modules-right:last-child {
  margin-right: 0.2em;
}

tooltip {
  background: @background;
  border-radius: 4px;
  border: 1px solid darker(@foreground);
}

tooltip label {
  color: @foreground;
  padding: 0.2rem 0.5rem;
}

#workspaces {
}

#workspaces button {
  padding: 0.05rem;
  margin: 0.2rem 0.2rem;
  transition: all 0.3s ease-in-out;
  color: @accent6;
}
#workspaces button:hover {
  color: shade(@accent6, 1.1);
}

#workspace button:first-child {
  margin: 0.2rem 0.3rem 0.2rem 0px;
}

#workspace button:last-child {
  margin: 0.2rem 0px 0.2rem 0.3rem;
}

#workspaces button.empty {
  color: @accent4;
}
#workspaces button.empty:hover {
  color: shade(@accent4, 1.1);
}

#workspaces button.visible {
  color: @accent4;
}
#workspaces button.visible:hover {
  color: shade(@accent4, 1.1);
}

#workspaces button.active {
  color: @accent2;
}
#workspaces button.active:hover {
  color: shade(@accent2, 1.1);
}

window#waybar.empty #window {
  background: transparent;
}

#clock,
#custom-vpn,
#custom-cliphist,
#custom-cava,
#wireplumber,
#network,
#bluetooth,
#backlight,
#temperature,
#battery {
  border-radius: 4px;
  margin: 4px 0px;
}

#clock {
  color: @foreground;
}

#custom-vpn {
  color: @accent5;
}
#custom-vpn:hover {
  color: @accent5-hover;
}
#custom-vpn.up {
  background: @accent5-active-bg;
}
#custom-vpn.up:hover {
  color: shade(@accent5, 1.1);
}

#temperature {
  color: shade(@accent6, 0.5);
}
#temperature.critical {
  color: @accent2;
  background: @accent2-active-bg;
}

#wireplumber {
  color: @accent5;
}
#wireplumber:hover {
  color: @accent5-hover;
}

#network {
  color: @accent4;
}
#network:hover {
  color: @accent4-hover;
}

#bluetooth {
  color: @accent3;
}
#bluetooth:hover {
  color: @accent3-hover;
}

#battery {
  color: @accent6;
}
#battery.warning,
#battery.critical {
  color: @urgent;
  background: shade(@urgent, 0.4);
}

#custom-cava {
  color: @accent3;
}
#custom-cava:hover {
  color: @accent3-hover;
}

#custom-cliphist {
  color: @accent4;
}
#custom-cliphist:hover {
  color: @accent4-hover;
}
