/*
 * wallpaper: Gruvbox-Dark
 * palette: dark
 * colorspace: lch
 */

* {
    shadow: rgba(20,20,20, 0.8);
    background: rgba(40,40,40, 1);
    foreground: rgba(235,219,178, 1);
    selected-background: rgba(83,83,83, 1);
    selected-foreground: rgba(235,219,178, 1);
}
