/*
  name: Everforest
  author: Sainnhe Park (https://github.com/sainnhe)
*/

* {
    background:     #2d353b;
    background-alt: #343f44;
    foreground:     #d3c6aa;
    selected:       #475258;
    active:         #475258;
    urgent:         #9da9a0;
}
