* {
  background: rgba(19, 19, 24, 0.8);
  foreground: #e2dfff;
  background-alt: #1f1f25;
  selected-background: #414178;
  selected-foreground: #e2dfff;
  urgent-background: #131318;
  urgent-foreground: #ffdad6;
}
