@define-color accent_color #b4c5ff;
@define-color accent_bg_color #334478;
@define-color accent_fg_color #dbe1ff;

@define-color window_bg_color #121318;
@define-color window_fg_color #e3e2e9;

@define-color headerbar_bg_color #1e1f25;
@define-color headerbar_fg_color #e3e2e9;
@define-color headerbar_border_color #8f909a;
@define-color headerbar_shade_color #292a2f;

@define-color popover_bg_color #1e1f25;
@define-color popover_fg_color #e3e2e9;

@define-color view_bg_color #121318;
@define-color view_fg_color #e3e2e9;

@define-color card_bg_color #1a1b21;
@define-color card_fg_color #e3e2e9;
@define-color card_shade_color #000000;

@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

@define-color bg_color #121318;
@define-color fg_color #e3e2e9;
@define-color text_color #e3e2e9;
@define-color text_color_disabled #e3e2e9;

@define-color button_bg_color #1e1f25;
@define-color button_fg_color #e3e2e9;
@define-color button_hover_color #b4c5ff;
@define-color button_active_color #b4c5ff;
@define-color button_checked_bg_color #334478;
@define-color button_checked_fg_color #dbe1ff;

@define-color borders #8f909a;
@define-color outline_color #8f909a;
@define-color outline_variant_color #45464f;

@define-color link_color #e2bbdb;
@define-color link_visited_color #5a3d58;

@define-color warning_color #ffb4ab;
@define-color warning_bg_color #93000a;
@define-color warning_fg_color #ffdad6;
@define-color error_color #ffb4ab;
@define-color error_bg_color #93000a;
@define-color error_fg_color #ffdad6;
@define-color success_color #e2bbdb;
@define-color success_bg_color #5a3d58;
@define-color success_fg_color #ffd6f8;

@define-color selected_bg_color #334478;
@define-color selected_fg_color #dbe1ff;
@define-color selected_text_color #dbe1ff;

@define-color hover_color #b4c5ff;
@define-color focus_color #b4c5ff;

@define-color dark_fill_color #34343a;
@define-color light_fill_color #38393f;

@define-color info_color #c1c5dd;
@define-color info_bg_color #414659;
@define-color info_fg_color #dde1f9;

@define-color shade_color #000000;
@define-color backdrop_color #45464f;
@define-color overlay_color #000000;
