@define-color accent_color #BD97BA;
@define-color accent_bg_color #684867;
@define-color accent_fg_color #FFD7FA;

@define-color window_bg_color #130C13;
@define-color window_fg_color #FFF9FA;

@define-color headerbar_bg_color #1E181E;
@define-color headerbar_fg_color #FFF9FA;
@define-color headerbar_border_color #8B8089;
@define-color headerbar_shade_color #241D24;

@define-color popover_bg_color #1E181E;
@define-color popover_fg_color #FFF9FA;

@define-color view_bg_color #110D11;
@define-color view_fg_color #FFF9FA;

@define-color card_bg_color #171217;
@define-color card_fg_color #FFF9FA;
@define-color card_shade_color #000000;

@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

@define-color bg_color #110D11;
@define-color fg_color #FFF9FA;
@define-color text_color #FFF9FA;
@define-color text_color_disabled #FFF9FA;

@define-color button_bg_color #1E181E;
@define-color button_fg_color #FFF9FA;
@define-color button_hover_color #BD97BA;
@define-color button_active_color #BD97BA;
@define-color button_checked_bg_color #684867;
@define-color button_checked_fg_color #FFD7FA;

@define-color borders #8B8089;
@define-color outline_color #8B8089;
@define-color outline_variant_color #5B515A;

@define-color link_color #FFF8F7;
@define-color link_visited_color #FFE5E7;

@define-color warning_color #FF7B6E;
@define-color warning_bg_color #A4020D;
@define-color warning_fg_color #FFAEA4;
@define-color error_color #FF7B6E;
@define-color error_bg_color #A4020D;
@define-color error_fg_color #FFAEA4;
@define-color success_color #FFF8F7;
@define-color success_bg_color #FFE5E7;
@define-color success_fg_color #7C484F;

@define-color selected_bg_color #684867;
@define-color selected_fg_color #FFD7FA;
@define-color selected_text_color #FFD7FA;

@define-color hover_color #BD97BA;
@define-color focus_color #BD97BA;

@define-color dark_fill_color #2B232B;
@define-color light_fill_color #322A31;

@define-color info_color #D8BFD3;
@define-color info_bg_color #473646;
@define-color info_fg_color #D1B8CC;

@define-color shade_color #000000;
@define-color backdrop_color #4D444C;
@define-color overlay_color #000000;
