@define-color base00 #262626;
@define-color base01 #3a3a3a;
@define-color base02 #4e4e4e;
@define-color base03 #8a8a8a;
@define-color base04 #949494;
@define-color base05 #dab997;
@define-color base06 #d5c4a1;
@define-color base07 #ebdbb2;
@define-color base08 #d75f5f;
@define-color base09 #ff8700;
@define-color base0A #ffaf00;
@define-color base0B #afaf00;
@define-color base0C #85ad85;
@define-color base0D #83adad;
@define-color base0E #d485ad;
@define-color base0F #d65d0e;

* {
  font-family: HarmonyOS Sans;
  outline-style: none;
  box-shadow: none;
}

window {
  margin: 0;
  background: @base00;
  border-radius: 12px;
  border: 2px solid @base05;
}

#input {
  color: @base04;
  background: transparent;
  margin: 8px;
  padding: 8px;
  border-radius: 12px;
}

#inner-box {
  border-radius: 12px;
  margin: 8px;
  background: @base01;
}

#outer-box {
  margin: 16px;
  border-radius: 12px;
}

#text {
  margin: 8px;
  color: @base04;
  border-radius: 12px;
}

#text:selected {
}

#entry:selected {
  background-color: @base02;
  border-radius: 12px;
}
