layout {
    focus-ring {
        active-color "#727169" // base03
        urgent-color "#FFA066" // base08
    }
}

recent-windows {
    highlight {
        active-color "#72716966" // base03
        urgent-color "#FFA06666" // base08
    }
}
