layout {
    focus-ring {
        active-color "#80d4d9"
        urgent-color "#ffb4ab"
    }
}

recent-windows {
    highlight {
        active-color "#0e1415"
        urgent-color "#ffb4ab"
    }
}
