layout {
    focus-ring {
        active-color "#F8F8F299"
        urgent-color "#7C7C79"
    }
}

recent-windows {
    highlight {
        active-color "#E4F34A99"
        urgent-color "#E356A799"
    }
}
