layout {
    focus-ring {
        active-color "#c1c1ff66"
        urgent-color "#ffb4ab66"
    }
}

recent-windows {
    highlight {
        active-color "#131318"
        urgent-color "#ffb4ab"
    }
}
