// -------------------------------------------------------------
//  Exec on startup
// -------------------------------------------------------------

spawn-at-startup "waybar"
spawn-at-startup "dunst"
spawn-at-startup "swww-daemon"
spawn-at-startup "swww-daemon" "--namespace" "overview"
spawn-sh-at-startup "~/.config/scripts/pick-random-wallpaper.sh"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "hypridle" "-q"

// -------------------------------------------------------------
//  Client side rendering
// -------------------------------------------------------------

prefer-no-csd

// -------------------------------------------------------------
//  Workspaces
// -------------------------------------------------------------

workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"

// -------------------------------------------------------------
//  Override environment vars
// -------------------------------------------------------------

environment {
    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    OZONE_PLATFORM "wayland"

    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "niri"

    // QT stuff
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_QPA_PLATFORMTHEME "qt6ct"

    GDK_BACKEND "wayland,x11,*"
    GDK_SCALE "1"
    GDK_DPI_SCALE "1.0"
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 20
    hide-when-typing
    hide-after-inactive-ms 2000
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

overview {
    zoom 0.4
    backdrop-color "#01090e"

    workspace-shadow {
        softness 40
        spread 10
        offset x=0 y=10
        color "#00000050"
    }
}

hotkey-overlay {
    skip-at-startup
}

// -------------------------------------------------------------
//  Devices
// -------------------------------------------------------------

output "eDP-1" {
    mode "1920x1200@60"
    scale 1.25
    transform "normal"
}

input {
    keyboard {
        track-layout "global"
        xkb {
            layout "us,ru"
            options "grp:caps_toggle"
        }
    }
    touchpad {
        off
    }
    mouse {
        accel-speed 0.0
        accel-profile "flat"
        middle-emulation
    }
    trackpoint {
        accel-profile "flat"
    }

    warp-mouse-to-focus mode="center-xy"
    focus-follows-mouse max-scroll-amount="10%"
}

// -------------------------------------------------------------
//  Layout
// -------------------------------------------------------------

layout {
    gaps 6

    background-color "transparent"

    center-focused-column "never"

    always-center-single-column

    default-column-width { proportion 0.66667; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        width 1
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}

// -------------------------------------------------------------
//  Animation
// -------------------------------------------------------------

animations {
    slowdown 1.5
}

// -------------------------------------------------------------
//  Global window rules
// -------------------------------------------------------------

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match is-active=false
    opacity 0.9
}

// -------------------------------------------------------------
//  Window rules
// -------------------------------------------------------------

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    open-focused false
    default-floating-position x=32 y=32 relative-to="bottom-right"
}

window-rule {
    match app-id="firefox"
    default-column-width { proportion 1.0; }
}

// window-rule {
//     match app-id="FreeCAD"
//     default-column-width { proportion 1.0; }
// }
//
// window-rule {
//     match app-id="OrcaSlicer"
//     default-column-width { proportion 1.0; }
// }

window-rule {
    match title="Heroes of Might and Magic III: Horn of the Abyss"
    open-on-workspace "4"
}

// -------------------------------------------------------------
//  Layer rules
// -------------------------------------------------------------

layer-rule {
    match namespace="^wallpaper$"

    place-within-backdrop true
}

layer-rule {
    match namespace="^swww-daemonoverview$"

    place-within-backdrop true
}

layer-rule {
    match namespace="rofi"

    shadow {
        on
        softness 1
        spread 1000
        draw-behind-window true
    }
}

layer-rule {
    match namespace="waybar"
    match at-startup=true

    shadow {
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
    }
}

// -------------------------------------------------------------
//  Keybinds
// -------------------------------------------------------------

binds {
    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+R hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+M hotkey-overlay-title="Run an Application: rofi" { spawn-sh "rofi -show drun"; }
    Mod+B hotkey-overlay-title="Run a Browser: firefox" { spawn "firefox"; }
    Mod+E hotkey-overlay-title="Run a File Browser: thunar" { spawn "thunar"; }
    Mod+0 hotkey-overlay-title="Restart waybar" { spawn-sh "pkill waybar && exec waybar"; }
    Mod+W hotkey-overlay-title="Set random wallpaper" { spawn-sh "~/.config/scripts/pick-random-wallpaper.sh && sleep 0.5s && ~/.config/scripts/make-theme-matugen.sh"; }
    Mod+V hotkey-overlay-title="Clipboard history" { spawn-sh "$HOME/.config/scripts/cliphist.sh"; }
    Ctrl+Alt+Delete hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "hyprlock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    XF86SelectiveScreenshot { screenshot; }
    Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Escape repeat=false { toggle-overview; }
    Mod+C repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End { move-column-to-last; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+Space { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    XF86FullScreen { fullscreen-window; } // Fn+Tab

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Return { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
}

switch-events {
    lid-close { spawn "hyprlock"; }
}

gestures {
    hot-corners {
        off
    }
}

// -------------------------------------------------------------
//  Colors
// -------------------------------------------------------------

// TODO: next version niri
// include "colors.kdl"
