layout {
    border {
        active-color "#81a1c1"      // base0D
        inactive-color "#434c5e"    // base02
    }
    focus-ring {
        active-color "#81a1c1"      // base0D
        inactive-color "#434c5e"    // base02
    }
}
