@define-color base00 #32302f;
@define-color base01 #3c3836;
@define-color base02 #504945;
@define-color base03 #665c54;
@define-color base04 #bdae93;
@define-color base05 #d5c4a1;
@define-color base06 #ebdbb2;
@define-color base07 #fbf1c7;
@define-color base08 #fb4934;
@define-color base09 #fe8019;
@define-color base0A #fabd2f;
@define-color base0B #b8bb26;
@define-color base0C #8ec07c;
@define-color base0D #83a598;
@define-color base0E #d3869b;
@define-color base0F #d65d0e;

window {
  background-color: rgba(40, 40, 40, 0.5);
  font-size: 40px;
}

grid {
  border-radius: 30px;
  margin: 200px 400px;
  padding: 10px;
  background-color: @base00;
}

button {
  border-radius: 20px;
  border-width: 3px;
  border-color: @base07;
  outline-style: none;
  margin: 10px;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: 0%;
  background-position: center;
  background-color: @base01;
}

button:focus,
button:active {
  border-color: @base0A;
}

#lock {
  color: @base05;
}

#logout {
  color: @base05;
}

#suspend {
  color: @base05;
}

#hibernate {
  color: @base05;
}

#shutdown {
  color: @base05;
}

#reboot {
  color: @base05;
}
