@define-color base00 #262626;
@define-color base01 #3a3a3a;
@define-color base02 #4e4e4e;
@define-color base03 #8a8a8a;
@define-color base04 #949494;
@define-color base05 #dab997;
@define-color base06 #d5c4a1;
@define-color base07 #ebdbb2;
@define-color base08 #d75f5f;
@define-color base09 #ff8700;
@define-color base0A #ffaf00;
@define-color base0B #afaf00;
@define-color base0C #85ad85;
@define-color base0D #83adad;
@define-color base0E #d485ad;
@define-color base0F #d65d0e;

* {
  box-shadow: none;
  text-shadow: none;
  outline: none;
}

.notification-row {
}

.notification-row:focus, .notification-row:hover {
}

.notification-row .notification-background {
  padding: 6px 12px;
}

.notification-row .notification-background .close-button {
  /* The notification Close Button */
  background: alpha(@base08, 0.5);
  color: @base06;
  padding: 0;
  border-radius: 100%;
  margin-top: 5px;
  margin-right: 5px;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.notification-row .notification-background .close-button:hover {
  background: @base08;
  transition: background 0.15s ease-in-out;
  border: none;
}

.notification-row .notification-background .notification {
  /* The actual notification */
  border-radius: 12px;
  border: 2px solid @base02;
  padding: 0;
  margin: 0;
  transition: background 0.15s ease-in-out;
  background: @base00;
}

.notification-row .notification-background .notification.low {
  /* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
  /* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
  /* Critical Priority Notification */
}

.notification-row .notification-background .notification .notification-action, .notification-row .notification-background .notification .notification-default-action {
  background: transparent;
  border: none;
  color: @base06;
  transition: background 0.15s ease-in-out;
}

.notification-row .notification-background .notification .notification-action:hover, .notification-row .notification-background .notification .notification-default-action:hover {
  -gtk-icon-effect: none;
  background: @base01;
}

.notification-row .notification-background .notification .notification-default-action {
  /* The large action that also displays the notification summary and body */
  border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  /* When alternative actions are visible */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: 12px;
  margin: 8px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  -gtk-icon-effect: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-effect: none;
  -gtk-icon-shadow: 0 1px 4px black;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: 1.0rem;
  background: transparent;
  color: @base0E;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  /* Notification time-ago */
  font-size: 0.75rem;
  background: transparent;
  color: @base03;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: 0.75rem;
  background: transparent;
  color: @base06;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  /* The optional notification progress bar */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  /* The "extra" optional bottom notification image */
  margin-top: 4px;

  background-color: white;
  border-radius: 12px;
  -gtk-icon-effect: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  /* The inline reply section */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: @base01;
  color: @base06;
  caret-color: @base06;
  border: 2px solid @base02;
  border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: @base01;
  border: 2px solid @base02;
  border-radius: 12px;
  color: @base06;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  background: initial;
  color: @base04;
  border: 2px solid @base02;
  border-color: transparent;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: @base03;
}

.notification-row .notification-background .notification .notification-action {
  /* The alternative actions below the default action */
  border: 2px solid @base02;
}

.notification-row .notification-background .notification .notification-action:first-child {
  /* add bottom border radius to eliminate clipping */
  border-bottom-left-radius: 12px;
}

.notification-row .notification-background .notification .notification-action:last-child {
  border-bottom-right-radius: 12px;
  border-right: none;
}

.notification-group {
  /* Styling only for Grouped Notifications */
}

.notification-group.low {
  /* Low Priority Group */
}

.notification-group.normal {
  /* Low Priority Group */
}

.notification-group.critical {
  /* Low Priority Group */
}

.notification-group .notification-group-headers {
  /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
  color: @base03;
}

.notification-group .notification-group-headers .notification-group-header {
  color: @base03;
}

.notification-group .notification-group-buttons {
  /* Notification Group Buttons */
}

.notification-group .notification-group-buttons > button {
  /* Notification Group Buttons */
  color: @base05;
}

.notification-group .notification-group-buttons > button:hover {
  /* Notification Group Buttons */
  background: @base02;
}

.notification-group.collapsed .notification-row .notification {
  background: @base01;
}

.notification-group.collapsed .notification-row:not(:last-child) {
  /* Top notification in stack */
  /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 0;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background: @base02;
}

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  background: alpha(@base00, 0.8);
  color: @base06;
  border: 2px solid @base02;
  padding: 0px;
}

.control-center .control-center-list-placeholder {
  /* The placeholder when there are no notifications */
  color: @base03;
}

.control-center .control-center-list {
  /* List of notifications */
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: opacity 400ms ease-in-out, background 0.15s ease-in-out;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background: @base02;
}

.blank-window {
  /* Window behind control center and on all other monitors */
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
}

/*** Widgets ***/
/* Title widget */
.widget-title {
  color: @base03;
  font-size: 1.5rem;
  margin: 16px;
}

.widget-title > button {
  color: @base05;
  background: transparent;
  border: none;
}

.widget-title > button:hover {
  background: @base02;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}

.widget-mpris .widget-mpris-player {
  padding: 16px;
  margin: 16px;
  background: @base01;
}

.widget-mpris .widget-mpris-player button {
  font-weight: bold;
}

.widget-mpris .widget-mpris-player button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  background: @base03;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
  border-radius: 12px;
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
  font-size: 0.85rem;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-mpris .widget-mpris-player > box > button {
  /* Change player control buttons */
  color: @base06;
}

.widget-mpris .widget-mpris-player > box > button:hover {
  background-color: @base02;
}

.widget-mpris > box > button {
  /* Change player side buttons */
}

.widget-mpris > box > button:disabled {
  /* Change player side buttons insensitive */
}

/* Buttons widget */
.widget-buttons-grid {
  background: transparent;
  border-radius: 12px;
  margin: 8px;
  padding: 0;
}

.widget-buttons-grid > flowbox {
  margin: 4px;
  padding: 0;
}

.widget-buttons-grid > flowbox > flowboxchild {
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @base0B;
  color: @base01;
  border-radius: 12px;
  font-weight: bold;
  padding: 6px 16px;
  margin: 0;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @base07;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  /* style given to the active toggle button */
}

/* Volume and Backlight widgets */
.widget-volume,
.widget-backlight {
  color: @base06;
  background: @base01;
  margin: 8px 16px 8px 16px;
  padding: 8px 16px 8px 16px;
  border-radius: 12px;
}

trough {
  background: @base02;
}

highlight {
  background: @base06;
}
