layout {
    focus-ring {
        active-color "#7c6f64" // base03
        urgent-color "#ea6962" // base08
    }
}

recent-windows {
    highlight {
        active-color "#7c6f6466" // base03
        urgent-color "#ea696266" // base08
    }
}
