@define-color accent_color {{ .Primary }};
@define-color accent_bg_color {{ .PrimaryContainer }};
@define-color accent_fg_color {{ .OnPrimaryContainer }};

@define-color window_bg_color {{ .SurfaceDim }};
@define-color window_fg_color {{ .OnSurface }};

@define-color headerbar_bg_color {{ .SurfaceContainer }};
@define-color headerbar_fg_color {{ .OnSurface }};
@define-color headerbar_border_color {{ .Outline }};
@define-color headerbar_shade_color {{ .SurfaceContainerHigh }};

@define-color popover_bg_color {{ .SurfaceContainer }};
@define-color popover_fg_color {{ .OnSurface }};

@define-color view_bg_color {{ .Surface }};
@define-color view_fg_color {{ .OnSurface }};

@define-color card_bg_color {{ .SurfaceContainerLow }};
@define-color card_fg_color {{ .OnSurface }};
@define-color card_shade_color {{ .Shadow }};

@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

@define-color bg_color {{ .Surface }};
@define-color fg_color {{ .OnSurface }};
@define-color text_color {{ .OnSurface }};
@define-color text_color_disabled {{ .OnSurface }};

@define-color button_bg_color {{ .SurfaceContainer }};
@define-color button_fg_color {{ .OnSurface }};
@define-color button_hover_color {{ .Primary }};
@define-color button_active_color {{ .Primary }};
@define-color button_checked_bg_color {{ .PrimaryContainer }};
@define-color button_checked_fg_color {{ .OnPrimaryContainer }};

@define-color borders {{ .Outline }};
@define-color outline_color {{ .Outline }};
@define-color outline_variant_color {{ .OutlineVariant }};

@define-color link_color {{ .Tertiary }};
@define-color link_visited_color {{ .TertiaryContainer }};

@define-color warning_color {{ .Error }};
@define-color warning_bg_color {{ .ErrorContainer }};
@define-color warning_fg_color {{ .OnErrorContainer }};
@define-color error_color {{ .Error }};
@define-color error_bg_color {{ .ErrorContainer }};
@define-color error_fg_color {{ .OnErrorContainer }};
@define-color success_color {{ .Tertiary }};
@define-color success_bg_color {{ .TertiaryContainer }};
@define-color success_fg_color {{ .OnTertiaryContainer }};

@define-color selected_bg_color {{ .PrimaryContainer }};
@define-color selected_fg_color {{ .OnPrimaryContainer }};
@define-color selected_text_color {{ .OnPrimaryContainer }};

@define-color hover_color {{ .Primary }};
@define-color focus_color {{ .Primary }};

@define-color dark_fill_color {{ .SurfaceContainerHighest }};
@define-color light_fill_color {{ .SurfaceBright }};

@define-color info_color {{ .Secondary }};
@define-color info_bg_color {{ .SecondaryContainer }};
@define-color info_fg_color {{ .OnSecondaryContainer }};

@define-color shade_color {{ .Shadow }};
@define-color backdrop_color {{ .SurfaceVariant }};
@define-color overlay_color {{ .Shadow }};
