# colors from image {{ .Image }}

cursor {{ .Primary }}
cursor_text_color {{ .OnPrimary }}

foreground            {{ .OnBackground }}
background            {{ .Background }}
selection_foreground  {{ .OnSecondary }}
selection_background  {{ .Secondary }}
url_color             {{ .Primary }}

color0  {{ .Color0 }}
color1  {{ .Color1 }}
color2  {{ .Color2 }}
color3  {{ .Color3 }}
color4  {{ .Color4 }}
color5  {{ .Color5 }}
color6  {{ .Color6 }}
color7  {{ .Color7 }}
color8  {{ .Color8 }}
color9  {{ .Color9 }}
color10 {{ .ColorA }}
color11 {{ .ColorB }}
color12 {{ .ColorC }}
color13 {{ .ColorD }}
color14 {{ .ColorE }}
color15 {{ .ColorF }}
