layout {
    // Colors from {{ .Image }}
    focus-ring {
        active-gradient from="{{ chroma .Primary 50 }}cc" to="{{ .Tertiary }}cc"
        urgent-color "{{ .Error }}"
    }
}

recent-windows {
    highlight {
        active-color "{{ .Color3 }}99"
        urgent-color "{{ .Color5 }}99"
    }
}
