* {
    background:     {{ .Background }};
    background-alt: {{ .Surface }};
    foreground:     {{ .OnBackground }};
    selected:       {{ .Primary }};
    active:         {{ .Primary }};
    urgent:         {{ .Error }};
}
