* {
    base: {{ .Background }};
    highlight-medium: {{ tone .Background 30 }};
    highlight-high: {{ tone .Background 60 }};
    text: {{ .OnBackground }};
    muted: {{ tone .OnBackground 10 }};
    warning: {{ chroma .Color1 50 }};
}
