# Rose Pine like palette
set -g @base '{{ .Background }}'
set -g @surface '{{ tone .Background 0.2 }}'
set -g @overlay '{{ tone .Background 0.4 }}'
set -g @muted '{{ tone .OnBackground 0.4 }}'
set -g @subtle '{{ tone .OnBackground 0.4 }}'
set -g @text '{{ .OnBackground }}'
set -g @love '{{ .Color1 }}'
set -g @gold '{{ .Color3 }}'
set -g @rose '{{ .Color6 }}'
set -g @pine '{{ .Color2 }}'
set -g @foam '{{ .Color4 }}'
set -g @iris '{{ .Color5 }}'
set -g @highlight-low '{{ .Color0 }}'
set -g @highlight-med '{{ tone .Color0 0.4 }}'
set -g @highlight-high '{{ .Color8 }}'
