@define-color background {{ .Surface }};
@define-color foreground {{ .OnSurface }};
@define-color cursor {{ .Primary }};
@define-color urgent {{ .Error }};

@define-color foreground-hover {{ chroma .Primary 25 }};

@define-color pacman {{ .Primary }};
@define-color fruits {{ .Tertiary }};
@define-color ghost {{ .Secondary }};
