@define-color base {{ .Background }};
@define-color surface {{ tone .Background 0.2 }};
@define-color text {{ .OnBackground }};
@define-color muted {{ tone .OnBackground 0.4 }};

@define-color warning {{ .Color1 }};
@define-color critical {{ .Color9 }};
@define-color charging {{ .ColorA }};

/* Black */
@define-color color0 {{ .Color0 }};
/* Red */
@define-color color1 {{ .Color1 }};
/* Green */
@define-color color2 {{ .Color2 }};
/* Yellow */
@define-color color3 {{ .Color3 }};
/* Blue */
@define-color color4 {{ .Color4 }};
/* Magenta */
@define-color color5 {{ .Color5 }};
/* Cyan */
@define-color color6 {{ .Color6 }};
/* White */
@define-color color7 {{ .Color7 }};
/* Black */
@define-color color8 {{ .Color8 }};
/* Light Red */
@define-color color9 {{ .Color9 }};
/* Light Green */
@define-color color10 {{ .ColorA }};
/* Light Yellow */
@define-color color11 {{ .ColorB }};
/* Light Blue */
@define-color color12 {{ .ColorC }};
/* Light Magenta */
@define-color color13 {{ .ColorD }};
/* Light Cyan */
@define-color color14 {{ .ColorE }};
/* Light Black */
@define-color color15 {{ .ColorF }};
