@define-color background {{ .Surface }};
@define-color foreground {{ .OnSurface }};
@define-color cursor {{ .Primary }};
@define-color urgent {{ .Error }};

@define-color foreground-hover {{ chroma .Primary 25 }};

@define-color accent0 {{ .Color9 }};
@define-color accent1 {{ .ColorA }};
@define-color accent2 {{ .ColorB }};
@define-color accent3 {{ .ColorC }};
@define-color accent4 {{ .ColorD }};
@define-color accent5 {{ .ColorE }};
@define-color accent6 {{ .ColorF }};
