@define-color accent_color #ffb77a;
@define-color accent_bg_color #6b3b05;
@define-color accent_fg_color #ffdcc2;

@define-color window_bg_color #19120c;
@define-color window_fg_color #efe0d6;

@define-color headerbar_bg_color #261e18;
@define-color headerbar_fg_color #efe0d6;
@define-color headerbar_border_color #9e8e82;
@define-color headerbar_shade_color #312822;

@define-color popover_bg_color #261e18;
@define-color popover_fg_color #efe0d6;

@define-color view_bg_color #19120c;
@define-color view_fg_color #efe0d6;

@define-color card_bg_color #221a14;
@define-color card_fg_color #efe0d6;
@define-color card_shade_color #000000;

@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

@define-color bg_color #19120c;
@define-color fg_color #efe0d6;
@define-color text_color #efe0d6;
@define-color text_color_disabled #efe0d6;

@define-color button_bg_color #261e18;
@define-color button_fg_color #efe0d6;
@define-color button_hover_color #ffb77a;
@define-color button_active_color #ffb77a;
@define-color button_checked_bg_color #6b3b05;
@define-color button_checked_fg_color #ffdcc2;

@define-color borders #9e8e82;
@define-color outline_color #9e8e82;
@define-color outline_variant_color #51443b;

@define-color link_color #c4cb97;
@define-color link_visited_color #444a22;

@define-color warning_color #ffb4ab;
@define-color warning_bg_color #93000a;
@define-color warning_fg_color #ffdad6;
@define-color error_color #ffb4ab;
@define-color error_bg_color #93000a;
@define-color error_fg_color #ffdad6;
@define-color success_color #c4cb97;
@define-color success_bg_color #444a22;
@define-color success_fg_color #e0e7b1;

@define-color selected_bg_color #6b3b05;
@define-color selected_fg_color #ffdcc2;
@define-color selected_text_color #ffdcc2;

@define-color hover_color #ffb77a;
@define-color focus_color #ffb77a;

@define-color dark_fill_color #3c332c;
@define-color light_fill_color #413731;

@define-color info_color #e3c0a5;
@define-color info_bg_color #5a422e;
@define-color info_fg_color #ffdcc2;

@define-color shade_color #000000;
@define-color backdrop_color #51443b;
@define-color overlay_color #000000;
