@define-color accent_color #96A2C9;
@define-color accent_bg_color #455174;
@define-color accent_fg_color #DBE2FF;

@define-color window_bg_color #0B0E15;
@define-color window_fg_color #FCFAFF;

@define-color headerbar_bg_color #18191F;
@define-color headerbar_fg_color #FCFAFF;
@define-color headerbar_border_color #81838C;
@define-color headerbar_shade_color #1D1F26;

@define-color popover_bg_color #18191F;
@define-color popover_fg_color #FCFAFF;

@define-color view_bg_color #0D0E12;
@define-color view_fg_color #FCFAFF;

@define-color card_bg_color #121318;
@define-color card_fg_color #FCFAFF;
@define-color card_shade_color #000000;

@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

@define-color bg_color #0D0E12;
@define-color fg_color #FCFAFF;
@define-color text_color #FCFAFF;
@define-color text_color_disabled #FCFAFF;

@define-color button_bg_color #18191F;
@define-color button_fg_color #FCFAFF;
@define-color button_hover_color #96A2C9;
@define-color button_active_color #96A2C9;
@define-color button_checked_bg_color #455174;
@define-color button_checked_fg_color #DBE2FF;

@define-color borders #81838C;
@define-color outline_color #81838C;
@define-color outline_variant_color #52545D;

@define-color link_color #F2DEFF;
@define-color link_visited_color #E8CDFE;

@define-color warning_color #FF7B6E;
@define-color warning_bg_color #A4020D;
@define-color warning_fg_color #FFAEA4;
@define-color error_color #FF7B6E;
@define-color error_bg_color #A4020D;
@define-color error_fg_color #FFAEA4;
@define-color success_color #F2DEFF;
@define-color success_bg_color #E8CDFE;
@define-color success_fg_color #57426A;

@define-color selected_bg_color #455174;
@define-color selected_fg_color #DBE2FF;
@define-color selected_text_color #DBE2FF;

@define-color hover_color #96A2C9;
@define-color focus_color #96A2C9;

@define-color dark_fill_color #23262D;
@define-color light_fill_color #292C34;

@define-color info_color #C1C5DD;
@define-color info_bg_color #363B4D;
@define-color info_fg_color #BABED5;

@define-color shade_color #000000;
@define-color backdrop_color #44474F;
@define-color overlay_color #000000;
