@define-color accent_color #86AC8A;
@define-color accent_bg_color #385A3E;
@define-color accent_fg_color #C5EDC8;

@define-color window_bg_color #08100A;
@define-color window_fg_color #F4FDF2;

@define-color headerbar_bg_color #151B16;
@define-color headerbar_fg_color #F4FDF2;
@define-color headerbar_border_color #7C857D;
@define-color headerbar_shade_color #1A211C;

@define-color popover_bg_color #151B16;
@define-color popover_fg_color #F4FDF2;

@define-color view_bg_color #0B0F0C;
@define-color view_fg_color #F4FDF2;

@define-color card_bg_color #0F1510;
@define-color card_fg_color #F4FDF2;
@define-color card_shade_color #000000;

@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

@define-color bg_color #0B0F0C;
@define-color fg_color #F4FDF2;
@define-color text_color #F4FDF2;
@define-color text_color_disabled #F4FDF2;

@define-color button_bg_color #151B16;
@define-color button_fg_color #F4FDF2;
@define-color button_hover_color #86AC8A;
@define-color button_active_color #86AC8A;
@define-color button_checked_bg_color #385A3E;
@define-color button_checked_fg_color #C5EDC8;

@define-color borders #7C857D;
@define-color outline_color #7C857D;
@define-color outline_variant_color #4D564E;

@define-color link_color #F5FFC4;
@define-color link_visited_color #E6F1B1;

@define-color warning_color #FF7B6E;
@define-color warning_bg_color #A4020D;
@define-color warning_fg_color #FFAEA4;
@define-color error_color #FF7B6E;
@define-color error_bg_color #A4020D;
@define-color error_fg_color #FFAEA4;
@define-color success_color #F5FFC4;
@define-color success_bg_color #E6F1B1;
@define-color success_fg_color #525B2A;

@define-color selected_bg_color #385A3E;
@define-color selected_fg_color #C5EDC8;
@define-color selected_text_color #C5EDC8;

@define-color hover_color #86AC8A;
@define-color focus_color #86AC8A;

@define-color dark_fill_color #1F2821;
@define-color light_fill_color #262E27;

@define-color info_color #B8CCB7;
@define-color info_bg_color #2E4030;
@define-color info_fg_color #B0C5B0;

@define-color shade_color #000000;
@define-color backdrop_color #414941;
@define-color overlay_color #000000;
