@define-color accent_color #78ABB1;
@define-color accent_bg_color #255A5F;
@define-color accent_fg_color #B8EDF2;

@define-color window_bg_color #061010;
@define-color window_fg_color #F2FDFD;

@define-color headerbar_bg_color #131B1B;
@define-color headerbar_fg_color #F2FDFD;
@define-color headerbar_border_color #7A8586;
@define-color headerbar_shade_color #182122;

@define-color popover_bg_color #131B1B;
@define-color popover_fg_color #F2FDFD;

@define-color view_bg_color #0A0F0F;
@define-color view_fg_color #F2FDFD;

@define-color card_bg_color #0E1515;
@define-color card_fg_color #F2FDFD;
@define-color card_shade_color #000000;

@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

@define-color bg_color #0A0F0F;
@define-color fg_color #F2FDFD;
@define-color text_color #F2FDFD;
@define-color text_color_disabled #F2FDFD;

@define-color button_bg_color #131B1B;
@define-color button_fg_color #F2FDFD;
@define-color button_hover_color #78ABB1;
@define-color button_active_color #78ABB1;
@define-color button_checked_bg_color #255A5F;
@define-color button_checked_fg_color #B8EDF2;

@define-color borders #7A8586;
@define-color outline_color #7A8586;
@define-color outline_variant_color #4B5656;

@define-color link_color #D1E8FF;
@define-color link_visited_color #B6DBFD;

@define-color warning_color #FF7B6E;
@define-color warning_bg_color #A4020D;
@define-color warning_fg_color #FFAEA4;
@define-color error_color #FF7B6E;
@define-color error_bg_color #A4020D;
@define-color error_fg_color #FFAEA4;
@define-color success_color #D1E8FF;
@define-color success_bg_color #B6DBFD;
@define-color success_fg_color #294E6A;

@define-color selected_bg_color #255A5F;
@define-color selected_fg_color #B8EDF2;
@define-color selected_text_color #B8EDF2;

@define-color hover_color #78ABB1;
@define-color focus_color #78ABB1;

@define-color dark_fill_color #1D2828;
@define-color light_fill_color #242E2E;

@define-color info_color #B0CCCE;
@define-color info_bg_color #264041;
@define-color info_fg_color #A9C4C6;

@define-color shade_color #000000;
@define-color backdrop_color #3E494A;
@define-color overlay_color #000000;
