@define-color accent_color #C59B69;
@define-color accent_bg_color #6C4C21;
@define-color accent_fg_color #FFDEB9;

@define-color window_bg_color #140D04;
@define-color window_fg_color #FFFAF7;

@define-color headerbar_bg_color #1F190F;
@define-color headerbar_fg_color #FFFAF7;
@define-color headerbar_border_color #8E8171;
@define-color headerbar_shade_color #261E14;

@define-color popover_bg_color #1F190F;
@define-color popover_fg_color #FFFAF7;

@define-color view_bg_color #120D08;
@define-color view_fg_color #FFFAF7;

@define-color card_bg_color #18120B;
@define-color card_fg_color #FFFAF7;
@define-color card_shade_color #000000;

@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

@define-color bg_color #120D08;
@define-color fg_color #FFFAF7;
@define-color text_color #FFFAF7;
@define-color text_color_disabled #FFFAF7;

@define-color button_bg_color #1F190F;
@define-color button_fg_color #FFFAF7;
@define-color button_hover_color #C59B69;
@define-color button_active_color #C59B69;
@define-color button_checked_bg_color #6C4C21;
@define-color button_checked_fg_color #FFDEB9;

@define-color borders #8E8171;
@define-color outline_color #8E8171;
@define-color outline_variant_color #5D5244;

@define-color link_color #FFF8F6;
@define-color link_visited_color #FFE6DD;

@define-color warning_color #FF7B6E;
@define-color warning_bg_color #A4020D;
@define-color warning_fg_color #FFAEA4;
@define-color error_color #FF7B6E;
@define-color error_bg_color #A4020D;
@define-color error_fg_color #FFAEA4;
@define-color success_color #FFF8F6;
@define-color success_bg_color #FFE6DD;
@define-color success_fg_color #7D4A36;

@define-color selected_bg_color #6C4C21;
@define-color selected_fg_color #FFDEB9;
@define-color selected_text_color #FFDEB9;

@define-color hover_color #C59B69;
@define-color focus_color #C59B69;

@define-color dark_fill_color #2D2418;
@define-color light_fill_color #342B1E;

@define-color info_color #DFC2A1;
@define-color info_bg_color #4B3820;
@define-color info_fg_color #D7BB9B;

@define-color shade_color #000000;
@define-color backdrop_color #504539;
@define-color overlay_color #000000;
