@define-color accent_color #8CA5C6;
@define-color accent_bg_color #3B5471;
@define-color accent_fg_color #D3E5FF;

@define-color window_bg_color #090F14;
@define-color window_fg_color #FAFAFF;

@define-color headerbar_bg_color #161A1F;
@define-color headerbar_fg_color #FAFAFF;
@define-color headerbar_border_color #7E848B;
@define-color headerbar_shade_color #1B2025;

@define-color popover_bg_color #161A1F;
@define-color popover_fg_color #FAFAFF;

@define-color view_bg_color #0C0E11;
@define-color view_fg_color #FAFAFF;

@define-color card_bg_color #101418;
@define-color card_fg_color #FAFAFF;
@define-color card_shade_color #000000;

@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

@define-color bg_color #0C0E11;
@define-color fg_color #FAFAFF;
@define-color text_color #FAFAFF;
@define-color text_color_disabled #FAFAFF;

@define-color button_bg_color #161A1F;
@define-color button_fg_color #FAFAFF;
@define-color button_hover_color #8CA5C6;
@define-color button_active_color #8CA5C6;
@define-color button_checked_bg_color #3B5471;
@define-color button_checked_fg_color #D3E5FF;

@define-color borders #7E848B;
@define-color outline_color #7E848B;
@define-color outline_variant_color #4F555C;

@define-color link_color #E6DEFF;
@define-color link_visited_color #D8CEFF;

@define-color warning_color #FF7B6E;
@define-color warning_bg_color #A4020D;
@define-color warning_fg_color #FFAEA4;
@define-color error_color #FF7B6E;
@define-color error_bg_color #A4020D;
@define-color error_fg_color #FFAEA4;
@define-color success_color #E6DEFF;
@define-color success_bg_color #D8CEFF;
@define-color success_fg_color #4B446C;

@define-color selected_bg_color #3B5471;
@define-color selected_fg_color #D3E5FF;
@define-color selected_text_color #D3E5FF;

@define-color hover_color #8CA5C6;
@define-color focus_color #8CA5C6;

@define-color dark_fill_color #21262D;
@define-color light_fill_color #272D33;

@define-color info_color #BBC7DB;
@define-color info_bg_color #303C4C;
@define-color info_fg_color #B4C0D4;

@define-color shade_color #000000;
@define-color backdrop_color #43474F;
@define-color overlay_color #000000;
