[Desktop Entry]
Name=OrcaSlicer
Exec=/home/ksergey/Applications/OrcaSlicer_Linux_AppImage_Ubuntu2404_V2.3.1.AppImage %F
Type=Application
Categories=Utility;
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
TryExec=/home/ksergey/Applications/OrcaSlicer_Linux_AppImage_Ubuntu2404_V2.3.1.AppImage
