config:
  shell: "sh -c '{}'"

items:
  - name: "kitty"
    template: "~/.config/walng/templates/kitty.conf"
    target: "~/.config/kitty/colors.conf"

  - name: "rofi"
    template: "~/.config/walng/templates/rofi.rasi"
    target: "~/.config/rofi/colors.rasi"

  - name: "tmux"
    template: "~/.config/walng/templates/tmux.conf"
    target: "~/.tmux-colors.conf"

  - name: "cava"
    template: "~/.config/walng/templates/cava"
    target: "~/.config/cava/config"

  - name: "dunst"
    template: "~/.config/walng/templates/dunstrc"
    target: "~/.config/dunst/dunstrc"

  - name: "niri"
    template: "~/.config/walng/templates/niri.kdl"
    target: "~/.config/niri/colors.kdl"

  - name: "waybar"
    template: "~/.config/walng/templates/waybar.css"
    target: "~/.config/waybar/colors.css"

  - name: "gtk-3.0"
    template: "~/.config/walng/templates/gtk.css"
    target: "~/.config/gtk-3.0/gtk.css"

  - name: "gtk-4.0"
    template: "~/.config/walng/templates/gtk.css"
    target: "~/.config/gtk-4.0/gtk.css"
