layout {
    focus-ring {
        active-color "{{colors.primary.default.hex}}66"
        urgent-color "{{colors.error.default.hex}}66"
    }
}

recent-windows {
    highlight {
        active-color "{{colors.surface.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }
}
